

body{


  margin: 0;
  text-align: center;
  font-family: 'Merriweather',sans-serif;

}

h1{


  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento',cursive;
  color: #66BFBF;









}


.pro{
  font-family: 'Montserrat',sans-serif;

  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;


}

h2{


  font-family: 'Montserrat', sans-serif;

  font-family: 'Sacramento',cursive;
  color: white;

  font-size: 2.5rem;


}

h3{

  font-family: 'Edu SA Beginner', cursive;

  color: white;
}
.top{

  background-color: #CCF3EE;
  position: relative;
  padding-top: 120px;


}

.profile-img{

  width: 100px;
  height: 100px;
  padding-top: 50px;
}

.skill-img{

  width: 100px;
  height: 100px;
}
.middle{
position: relative;


}

.bottom-cloud{

  position: absolute;
  left: 390px;
  bottom: 300px;

}
.top-cloud{

  position: absolute;
  right: 500px;
  top: 50px;
}
.skill-row{


 width: 50%;
 margin: auto;
 text-align: left;

}
.hello{
  font-family: 'Montserrat', sans-serif;

  font-family: 'Sacramento',cursive;
  color: white;
  font-size: 4.265rem;

}

.skill-img{

    width: 25%;
    height: 25%;
    float: left;
    margin-right: 60px;
}
hr{

  border-style: none;
  border-top-style: dotted;
  border-color: white;

  width: 5%;
  border-width: 8px;
}
p{

  font-family: 'Edu TAS Beginner', cursive;
  font-size: 1.754rem;
  color: #B7D3DF;
}
.footer{
  text-decoration: none;

  font-size: 20px;;
  color: black;
}
